* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('T--FAU_Erlangen--ubuntu-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('T--FAU_Erlangen--ubuntu-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('T--FAU_Erlangen--ubuntu-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('T--FAU_Erlangen--ubuntu-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('T--FAU_Erlangen--ubuntu-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('T--FAU_Erlangen--ubuntu-v13-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('T--FAU_Erlangen--lato-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('T--FAU_Erlangen--lato-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('T--FAU_Erlangen--lato-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('T--FAU_Erlangen--lato-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('T--FAU_Erlangen--lato-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('T--FAU_Erlangen--lato-v15-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('T--FAU_Erlangen--lato-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('T--FAU_Erlangen--lato-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('T--FAU_Erlangen--lato-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('T--FAU_Erlangen--lato-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('T--FAU_Erlangen--lato-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('T--FAU_Erlangen--lato-v15-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

body {
	background: #001323;
	margin: 0;
	color: #fff;
	font-family: 'Lato', sans-serif;
	line-height: 25px;
}

h1, h2, button {
	font-family: 'Ubuntu', sans-serif;
}

.showcase::after {
	content: '';
	height: 100vh;
	width: 100%;
	background: url(T--FAU_Erlangen--artboard.png);
	background-size: cover;
	background-repeat: none;
	background-position: center;
	display: block;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	transition: all 1000ms;
}

.content {
	position: absolute;
	z-index: 1;
	top: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	text-align: center;
	transition: all 1000ms;
  color: #001323;
	font-family: 'Ubuntu', sans-serif;
}

.content .logo {
	height: auto;
}

.content .title {
	font-size: 2.2rem;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.content .text {
	line-height: 1.7;
	margin-top: 1rem;
}

.abstract h2 {
	text-transform: uppercase;
	margin: 20px;
	text-align: center;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}

.center {
	hyphens: auto;
	text-align: justify;
	margin: auto;
}

.bg-light {
	background: #eee;
	color: #001323;
}

.bg-dark {
	background: #001323;
	color: #f4f4f4;
}

.accordion {
	padding-left: 15px;
	background-color: #eee;
	font-size: 20px;
	color: #444;
	cursor: pointer;
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-radius: 15px;
	margin-top: 20px;
  transition: 0.3s;
}

.accordion:after {
	content: url(T--FAU_Erlangen--plus.svg);
	float: right;
	padding: 10px;
	transition-duration: 0.3s;
}

.active:after {
	content: url(T--FAU_Erlangen--plus.svg);
	transform: translate(0, -10px) rotate(45deg);
	transition-duration: 0.3s;
	padding: 15px;
}

.accordion:hover {
	background-color: #ccc;
}

.panel {
	margin-top: 10px;
	border-radius: 15px;
	padding: 18px;
	display: none;
	overflow: hidden;
	hyphens: auto;
	text-align: justify;
}

footer {
	display: table;
	width: 100%;
}

.footer {
	display: table-row;
	height: 0;
}

.social .social-left a {
	text-decoration: none;
	float: left;
	color: #444;
	font-size: 30px;
}

.social .social-left p {
	text-decoration: none;
	float: left;
	margin: 0 20px 0 0;
	padding: 20px;
	color: #444;
	font-size: 15px;
}

.social .social-right li {
	list-style: none;
	float: right;
	margin: 0 20px 0 0;
	padding: 20px;
}


/* Small Screens */
@media (max-width: 560px) {
	.showcase::after {
		height: 40vh;
    filter: blur(2px);
  	-webkit-filter: blur(2px);
	}

	.content {
		top: 5%;
		margin-top: 5px;
		width: 50%;
	}

	.content .logo {
		height: auto;
		width: 100%;
	}

	.content .title {
		font-size: 20px;
	}

	.content .text {
		display: none;
	}

	.accordion {
		font-size: 15px;
	}

	.social .social-left a {
		text-decoration: none;
		float: none;
		margin: auto;
		color: #444;
		font-size: 30px;
	}

	.social .social-left p {
		text-decoration: none;
		float: none;
		margin: auto;
		padding: 20px;
		color: #444;
		font-size: 15px;
	}

	.social .social-right li {
		list-style: none;
		float: left;
		margin: auto;
		padding: 20px;
	}

	.social .social-right li a img {
		height: 50px;
		width: auto;
	}
}

/* Landscape */
@media (max-height: 500px) {
	.content .title,
  .content .text {
		display: none;
	}

	.content {
		top: 30%;
	}
}
